//
// businessDashboard Page Specific
//

@use '../abstracts/variables'as vars;
@use '../abstracts/functions'as func;
@use '../abstracts/mixins'as mix;
@use '../abstracts/mediamixins'as media;

body {
  h1, p, a, li {
    color: map-get($map: vars.$mainLogin-colors, $key: mainTextColor);
  }


.businessDashboard {
  &__items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 40px;
  }

  &__item {
    text-align: center;
    align-content: center;
    width: 35%;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-bottom: 20px;
    background-color: map-get($map: vars.$main-dashboard-colors, $key: cardBackgroundColor);
    border-radius: 10px;
  }

  &__icon {
    color:map-get($map: vars.$main-dashboard-colors, $key: cardTextColor);
    font-size: 16px;
    i{
      font-size: 45px;
    }
    .icon__highlighted{
      color: map-get($map: vars.$main-dashboard-colors, $key: highlightedIcons) !important;
      font-size: 45px;

    }
    p{
      font-weight: 550;
      color: map-get($map: vars.$main-dashboard-colors, $key: cardTextColor) !important;
    }
  }
}

.showMap {
  width: 100%;
  height: 300px;
}
}