//
// Checkin Scanner Page Specific
//

@use '../abstracts/variables'as vars;
@use '../abstracts/functions'as func;
@use '../abstracts/mixins'as mix;
@use '../abstracts/mediamixins'as media;

.checkinScanner {
  &__title {
    color: map-get($map: vars.$main-dashboard-colors, $key: mainTextColor);
    padding-left: 30px;
    margin-top: 30px;
    font-size: 22px;
  }
}
#canvas {
    display: flex;
    justify-content: center;
}