//
// Home Page Specific
//

@use '../abstracts/variables'as vars;
@use '../abstracts/functions'as func;
@use '../abstracts/mixins'as mix;
@use '../abstracts/mediamixins'as media;

body {
   background-color: map-get($map: vars.$mainLogin-colors, $key: backgroundColor);
   ;
   color: map-get($map: vars.$mainLogin-colors, $key: backgroundColor);

   h1 {
      color: white;
   }

   #appContainer {
      padding-bottom: 40px;
      background-color: map-get($map: vars.$mainLogin-colors, $key: formbackgroundColor);

      form {
         display: flex;
         flex-direction: column;
         align-items: center;
         background-color: map-get($map: vars.$mainLogin-colors, $key: formbackgroundColor);

         h1 {
            color: map-get($map: vars.$mainLogin-colors, $key: headColor);
         }
      }
   }

   
}