//
// Home Page Specific
//

@use '../abstracts/variables'as vars;
@use '../abstracts/functions'as func;
@use '../abstracts/mixins'as mix;
@use '../abstracts/mediamixins'as media;


.userChoice {
  display: flex;
  text-align: center;
  padding: 20px;
}

label {
  color: map-get($map: vars.$mainLogin-colors, $key: mainTextColor);
}