//
// Register Page Specific
//

@use '../abstracts/variables'as vars;
@use '../abstracts/functions'as func;
@use '../abstracts/mixins'as mix;
@use '../abstracts/mediamixins'as media;

.form {
  &__userChoice {
    display: flex;
    text-align: center;
    padding: 20px;
  }
  &__businessNames{
    margin-top: 20px;
  }
}

label {
  color: map-get($map: vars.$mainLogin-colors, $key: mainTextColor);
}